#InterestsContainer {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;

	.row {
		margin-bottom: 2em;
	}

	.col.s1.teal.white-text {
		background-color: rgba(0, 0, 0, 0) !important;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: fit-content;

		.InterestButton {
			// All Buttons
			width: fit-content;
		}
		.InterestButton:focus {
			// All Buttons
			width: fit-content;
			color: rgb(174, 174, 174);
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.65);
		}

		.InterestButton1 {
			background-color: #e85d04;
		}
		.InterestButton2 {
			background-color: #e85d04;
		}
		.InterestButton3 {
			background-color: #e85d04;
		}
		.InterestButton4 {
			background-color: #9d0208;
		}
		.InterestButton5 {
			background-color: #9d0208;
		}
		.InterestButton6 {
			background-color: #9d0208;
		}
		.InterestButton7 {
			background-color: #370617;
		}
		.InterestButton8 {
			background-color: #370617;
		}
		.InterestButton9 {
			background-color: #370617;
		}
	}
}
