#ChatroomContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#ChatroomContainer .input-field.col {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: #3f3f3f !important;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding-bottom: 15px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ChatroomContainer .input-field.col .col.s12.m6 {
  width: 100% !important;
  padding: 0px;
}

#ChatroomContainer .input-field.col .col.s12.m6 ul.collection {
  width: 100% !important;
  border-left: none;
  border-right: none;
  margin-top: 0px;
}

#ChatroomContainer .input-field.col .col.s12.m6 ul.collection li {
  border-left: none;
  border-right: none;
  background-color: #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#ChatroomContainer .input-field.col .col.s12.m6 ul.collection li i,
#ChatroomContainer .input-field.col .col.s12.m6 ul.collection li img {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ChatroomContainer .input-field.col .col.s12.m6 ul.collection li a.secondary-content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#ChatroomContainer .input-field.col .col.s12.m6 ul.collection li i.material-icons {
  width: 50px;
  padding-bottom: 10px;
}

#ChatroomContainer .input-field.col .col.s12.m6 ul.collection li .TextContainer {
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin-right: auto;
  text-align: start;
  padding-left: 25px;
}

#ChatroomContainer .input-field.col .col.s12.m6 ul.collection li .TextContainer span {
  font-size: 32px;
}

#ChatroomContainer .input-field.col .col.s12.m6 ul.collection li .TextContainer p {
  font-size: 22px;
}

#ChatroomContainer #TextInput-25 {
  margin-top: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Genos', sans-serif;
  font-size: 25px;
}

#ChatroomContainer div.row {
  margin: 0px !important;
  width: 100%;
  height: 100%;
}

#ChatroomContainer .col.s12.m6 {
  width: 100% !important;
  padding: 0px;
}

#ChatroomContainer .col.s12.m6 ul.collection {
  width: 100% !important;
  border-left: none;
  border-right: none;
  margin-top: 0px;
}

#ChatroomContainer .col.s12.m6 ul.collection li {
  border-left: none;
  border-right: none;
  background-color: #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#ChatroomContainer .col.s12.m6 ul.collection li i,
#ChatroomContainer .col.s12.m6 ul.collection li img {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ChatroomContainer .col.s12.m6 ul.collection li a.secondary-content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#ChatroomContainer .col.s12.m6 ul.collection li i.material-icons {
  width: 50px;
  padding-bottom: 10px;
}

#ChatroomContainer .col.s12.m6 ul.collection li .TextContainer {
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin-right: auto;
  text-align: start;
  padding-left: 25px;
}

#ChatroomContainer .col.s12.m6 ul.collection li .TextContainer span {
  font-size: 32px;
}

#ChatroomContainer .col.s12.m6 ul.collection li .TextContainer p {
  font-size: 22px;
}
/*# sourceMappingURL=Chatroom.css.map */